<a href="https://colab.research.google.com/github/sandeepmhatre77/pythonBasics/blob/master/Initializing_the_Spark_Context.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [2]:
!wget -q https://downloads.apache.org/spark/spark-3.0.1/spark-3.0.1-bin-hadoop3.2.tgz

In [3]:
!tar xf spark-3.0.1-bin-hadoop3.2.tgz

In [4]:
!pip install -q findspark

In [5]:
pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/f0/26/198fc8c0b98580f617cb03cb298c6056587b8f0447e20fa40c5b634ced77/pyspark-3.0.1.tar.gz (204.2MB)
     |████████████████████████████████| 204.2MB 66kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 37.1MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612242 sha256=d3dc7e0794c4a0fa5d29afa618ac1dcdaac733c385348467255b0b1346519ff5
  Stored in directory: /root/.cache/pip/wheels/5e/bd/07/031766ca628adec8435bb40f0bd83bb676ce65ff4007f8e73f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.1

In [6]:
from pyspark import SparkContext, SparkConf
#sc = SparkContext()

In [7]:
'''sc.getConf().getAll()
sc.stop()
'''
conf = SparkConf().setAppName("TestApp").setMaster("local")
sc = SparkContext(conf = conf)

In [8]:
sc.getConf().getAll()

[('spark.master', 'local'),
 ('spark.driver.port', '43315'),
 ('spark.rdd.compress', 'True'),
 ('spark.app.id', 'local-1610127980492'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.app.name', 'TestApp'),
 ('spark.submit.pyFiles', ''),
 ('spark.executor.id', 'driver'),
 ('spark.submit.deployMode', 'client'),
 ('spark.driver.host', 'c729aeb10478'),
 ('spark.ui.showConsoleProgress', 'true')]

In [9]:
sc.stop()

Another Way to initialize the spark context is shown as below

In [10]:
sc = SparkContext()
#sc.stop()

In [11]:
sc.getConf().getAll()

[('spark.master', 'local'),
 ('spark.driver.port', '45079'),
 ('spark.app.id', 'local-1610127981892'),
 ('spark.rdd.compress', 'True'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.app.name', 'TestApp'),
 ('spark.submit.pyFiles', ''),
 ('spark.executor.id', 'driver'),
 ('spark.submit.deployMode', 'client'),
 ('spark.driver.host', 'c729aeb10478'),
 ('spark.ui.showConsoleProgress', 'true')]

In [12]:
sc.stop()

In [13]:
sc= SparkContext("local", "first App")

a = sc.parallelize([1,34,5,543])

In [14]:
sc.getConf().getAll()

[('spark.master', 'local'),
 ('spark.driver.port', '39457'),
 ('spark.rdd.compress', 'True'),
 ('spark.app.id', 'local-1610127982655'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.submit.pyFiles', ''),
 ('spark.executor.id', 'driver'),
 ('spark.submit.deployMode', 'client'),
 ('spark.driver.host', 'c729aeb10478'),
 ('spark.app.name', 'first App'),
 ('spark.ui.showConsoleProgress', 'true')]

In [15]:
a # used parallelize so that data can be distributed among the cores / cluster / nodes

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:262

In [16]:
a1 = a.collect() # we should not use collect in pyspark instead use take(5) 
# it will collect all the data in the ram and our system may get collapse

In [17]:
a.countByValue()

defaultdict(int, {1: 1, 5: 1, 34: 1, 543: 1})

In [18]:
a.take(2)

[1, 34]

In [20]:

a.collect()


a.take(3)

[1, 34, 5]

In [33]:
sc.stop()

In [34]:
sc= SparkContext("local", "first App")

df = sc.parallelize([(1, 2, 3, 'a b c'),(4, 5, 6, 'd e f'),(7, 8, 9, 'g h i')])

In [36]:
df.collect()

[(1, 2, 3, 'a b c'), (4, 5, 6, 'd e f'), (7, 8, 9, 'g h i')]

In [41]:
#/content/sample_data/california_housing_test.csv

sc.stop()

In [42]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Python Spark create RDD example").config("spark.some.config.option", "some-value").getOrCreate()

In [43]:
df = spark.read.format('com.databricks.spark.csv').options(header='true',inferschema='true').load("/content/sample_data/california_housing_test.csv", header=True)

In [44]:
df.show(5)
df.printSchema()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 5 rows

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [47]:
roomgroup = df.groupby('total_rooms')

In [52]:
roomgroup.mean('median_income').take(10)

[Row(total_rooms=2734.0, avg(median_income)=2.8085),
 Row(total_rooms=305.0, avg(median_income)=5.9641),
 Row(total_rooms=4066.0, avg(median_income)=4.6556),
 Row(total_rooms=2862.0, avg(median_income)=5.01355),
 Row(total_rooms=1051.0, avg(median_income)=3.9246999999999996),
 Row(total_rooms=769.0, avg(median_income)=1.7875),
 Row(total_rooms=1761.0, avg(median_income)=5.399),
 Row(total_rooms=5776.0, avg(median_income)=6.6447),
 Row(total_rooms=596.0, avg(median_income)=4.2813),
 Row(total_rooms=12467.0, avg(median_income)=3.2846)]